.user-card{
  background-color: #FFF;
  box-shadow: 0 2px 4px 0 $grey500;
  border-radius: 3px;
  overflow: hidden;

  .user-card-info{
    float: left;
    padding: 10px;

    p{
      padding: 0 0 10px 0;
    }
  }
}