ul{
  list-style: none;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 $grey500;
  margin-bottom: 10px;

  li{
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: $grey300
    }
  }
}